<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="SHORTCUT ICON" type="image/x-icon" href="images/favicon-32x32.ico" />
    <title>My Groups</title>
    <link href="css/signup.css" type="text/css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript">

	
	</script>
</head>
<body>
    <!-- start header div -->
	<header><% include ../partials/header1 %></header>
    <!-- end header div -->
	<div class="outer">
    <!-- start wrap div -->
		<div class="wrap">
        <!-- title and description -->
        <h3>My registered group(s):</h3>
        <h3><font size="3">Click group number to quit group</font></h3>
        <h3><font size="3" color="red">**If you quit the group you formed,</font></h3>
        <h3><font size="3" color="red">the group will be dismissed.</font></h3>
        <!-- start sign up form -->
        <form name="signup" action="http://localhost:3000/quitted" method="post" >
			
			<label for="route">Activity ID:</label>
			<br>
			<% for(var i=0; i < data.length; i++) { %>
				<label for="<%= data[i].activity_id %>"><input type="radio" name="activity_id" value="<%= data[i].activity_id %>" id="<%= data[i].activity_id %>" required>  <%= data[i].activity_id %> 
					<%= data[i].activity_topic %></input></label>
				<label for="<%= data[i].activity_creator_id %>"<input type="radio" name="activity_creator_id" value="<% data[i].activity_creator_id %>" id="<%= data[i].activity_creator_id %>" required></input></label>
				<!-- <label for="<%= data[i].activity_id %>"><input type="submit" name="activity_id" value="<%= data[i].activity_id %>" id="<%= data[i].activity_id %>" required/></input></label> -->
			<% } %>
			<br>
			<input type="submit" name="sent" class="submit_button" value="quit" />
			<br>
			<font color="red">Wanna search for other activity? Click <a href="/group">here</a></font><br><br>
        </form>
        <!-- end sign up form -->
		</div></div>
    <!-- end wrap div -->
</body>
</html>